.about {
  position: relative;
  padding: 31px 30px 45px 30px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 6px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 56px;
    padding-bottom: 68px;

    &::after {
      height: 19px;
      background-size: 100% 19px;
      background-position-x: -1px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 70px;
    width: 1150px;
    margin: 0 auto;

    &::after {
      left: 50px;
      height: 23px;
      background-size: 1050px 21px;
    }
  }
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 52px;
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 19.5%;
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 19.5%;
    margin-bottom: 33px;
  }
}

.about__column {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 38%;
  }
}

.about__item {
  max-width: 295px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.about__icon {
  margin-bottom: 20px;
  height: 34px;
  width: 49px;
  fill: $features-item-bg;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.about__text {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
