.about {
  position: relative;
  padding: 31px 30px 45px 30px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 6px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 70px;

    &::after {
      bottom: -50px;
      height: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 50px;
    padding-top: 70px;
    margin-left: 16.8%;

    &::after {
      height: 17px;
    }
  }
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 41px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin-bottom: 29px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.about__column {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.about__item {
  max-width: 295px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.about__icon {
  margin-bottom: 19px;
  height: 34px;
  width: 49px;
  fill: $features-item-bg;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.about__text {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
