.body-wrapper {
  min-width: $mobile-width;
  background-color: $features-color;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    // width: $desktop-width;
    // margin: 0 auto;
  }
}
