.button {
  display: block;
  box-sizing: border-box;
  padding: 16px 70px;
  border: 2px solid $good-text-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $good-text-color;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: linear-gradient(0deg, #444444, #444444);
    color: $features-color;
    transition: color 0.6s;
  }

  &:active {
    background: linear-gradient(0deg, #444444, #444444);
    color: $btn-active-text;
    transition: color 0.6s;
  }

  &--contacts {
    margin: 40px 0 35px 0;
    padding: 16px 0;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      width: 34%;
      margin: 0 auto;
      margin-top: 51px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      width: 73%;
      margin-top: 58px;
      margin-left: 0;
    }
  }

  &--reviews {
    padding: 15px 70px 15px 70px;

    @media (min-width: $tablet-width) {
      width: 26%;
      padding: 14px 0;
      margin-bottom: 39px;
      order: 1;
    }

    @media (min-width: $desktop-width) {
      width: 20%;
    }
  }

  &--video {
    padding: 15px 11px;
    margin: 0 34px;
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      order: 2;
      margin: 0 6%;
      padding: 14px 11px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      margin: 0;
      padding: 13px 22px;
      margin-bottom: auto;
      margin-right: 20px;
    }
  }

  &--good {
    @media (min-width: $tablet-width) {
      height: 52px;
      padding: 15px 70px 18px 70px;
    }


    @media (min-width: $desktop-width) {
      grid-row: 5 / 6;
      grid-column: 2 / 3;
    }
  }

  &--form {
    padding: 14px 11px;
    background-color: $features-color;

    @media (min-width: $tablet-width) {
      padding: 14px 30px;
      height: fit-content;
    }

    @media (min-width: $desktop-width) {
      padding: 14px 29px;
      margin-left: 226px;
      margin-right: 169px;
    }
  }

  &--modal {
    width: 100%;
    border-color: $features-item-bg;
    color: $features-color;
    background-color: $features-item-bg;

    @media (min-width: $tablet-width) {
      width: 350px;
      margin: 0 auto;
    }
  }
}
