.catalog-header {
  width: 100%;
  min-height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-header-bgcolor;

  @media (min-width: $tablet-width) {
    min-height: 238px;
  }
}

.catalog-header__title {
  margin: 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}
