.catalog {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 67px 50px 53px 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
    padding-top: 111px;
  }
}
