.contacts {
  padding: 38px 30px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 68px 50px 0 50px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts__list {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 30px;
  color: $good-text-color;
}

.contacts__description {
  margin: 0;
  width: 30%;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 11.6%;
    margin-bottom: 49px;
  }
}

.contacts__details {
  width: 60%;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 33.4%;
    margin-bottom: 49px;
  }
}

.contacts__email {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $email-link-border;
}
