.controls {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 26%;
    order: 4;
    font-size: 18px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 20%;
  }
}

.controls__btn {
  width: 50%;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $menu-bottom-color;

  &--next {
    border-left: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.controls__icon {
  &:hover {
    opacity: 0.6;
    transition: opacity 0.6s;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.6s;
  }
}
