.features {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.features__item {
  position: relative;
  min-height: 103px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 30px;
  background-color: $features-item-bg;

  @media (min-width: $tablet-width) {
    min-height: 119px;
  }
}

.features__item--secondary {
  background-color: $features-item-secondary-bg;
}

.features__link {
  width: 50%;
  color: $features-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.features__icon {
  position: absolute;

  path {
    fill: $features-icon-color;
  }

  &--lamp {
    top: 23px;
    right: 36px;
  }

  &--toy {
    top: 21px;
    right: 27px;
  }
}
