.features {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.features__item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: 103px;
  padding: 24px 30px 30px 30px;
  background-color: $features-item-bg;

  &:hover {
    margin-top: -5px;
    background-color: $left-feature-btn-hover;
    transition: margin-top 0.6s;

    .features__icon {
      opacity: 0.7;
      transition: opacity 0.6s;
    }
  }

  &:active {
    background-color: $left-feature-btn-hover;

    .features__icon {
      opacity: 0.3;
      transition: opacity 0.6s;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 27px 30px 30px 36px;
    min-height: 119px;
  }
}

.features__item--secondary {
  background-color: $features-item-secondary-bg;

  &:hover {
    background-color: $right-feature-btn-hover;

    .features__icon {
      opacity: 0.7;
      transition: opacity 0.6s;
    }
  }

  &:active {
    background-color: $left-feature-btn-hover;

    .features__icon {
      opacity: 0.3;
      transition: opacity 0.6s;
    }
  }
}

.features__link {
  width: 50%;
  color: $features-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
  }
}

.features__icon {
  position: absolute;
  opacity: 0.5;

  path {
    fill: $features-icon-color;
  }

  &--lamp {
    top: 23px;
    right: 36px;
  }

  &--toy {
    top: 21px;
    right: 27px;
  }

  @media (min-width: $tablet-width) {
    &--lamp {
      top: 30px;
      right: 36px;
    }

    &--toy {
      top: 32px;
      right: 33px;
    }
  }
}
