.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  background-color: $main-header-bgcolor;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 50px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 35%;
  }
}

.footer__social {
  position: relative;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 27px;

  &::after {
    content: "";
    position: absolute;
    bottom: -27px;
    width: 100%;
    height: 1px;
    background-color: $footer-border-bg;
  }

  @media (min-width: $tablet-width) {
    width: 30%;
  }
}

.footer__copyright {
  margin-top: 25px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 35%;
  }
}
