.form {
  padding: 15px 30px 53px 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 55px 0 44px 0;
    font-size: 17px;
    line-height: 30px;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 0 44px 0;
  }
}

.form__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 21px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 726px;
    margin: 0 auto;
    margin-bottom: 21px;
    padding-left: 5.5%;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
    padding: 0;
  }

  .form__fieldset {
    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: start;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
    padding: 0;
  }

  &--contacts {
    .form__label-wrapper {
      margin-bottom: 13px;
    }

    .form__input {
      height: 62px;
      margin-bottom: 0;

      @media (min-width: $tablet-width) {
        height: 45px;
      }
    }

    .form__legend {
      @media (min-width: $tablet-width) {
        margin-top: 8px;
      }
    }

    .form__legend-wrapper {
      margin-bottom: 12px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 26px;

      .form__fieldset:first-child {
        margin-bottom: -4px;
      }

      .form__input {
        background-color: $footer-background;
      }
    }
  }

  &--tel {
    margin-top: 5px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-bottom: 35px;
    }
  }

  &--email {
    margin-top: 23px;
    margin-bottom: -6px;
  }

  &--textarea {
    flex-wrap: wrap;

    .form__legend-wrapper {
      margin-bottom: 21px;

      @media (min-width: $tablet-width) {
        margin-top: 12px;
      }
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      padding-top: 9px;
    }
  }
}

.form__fieldset-accent {
  @media (min-width: $mobile-only-width) {
    padding: 10px 50px;
  }

  @media (min-width: $tablet-width) {
    background-color: $footer-background;
    padding: 55px 50px 25px 50px;

    &--contacts {
      padding: 61px 50px 55px 50px;
    }

    .form__fieldset {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 22px 0;

    &--contacts {
      padding: 61px 50px 55px 50px;
    }
  }

  .form__label-wrapper {
    margin-bottom: 0;
  }
}

//Обертка для ледженд и линии
.form__legend-wrapper {
  display: flex;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    width: 25.3%;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 113px;
    margin-bottom: 28px;
    margin-left: 114px;
  }
}

.form__legend {
  position: relative;
  padding-right: 27px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $features-item-bg;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.form__legend-line {
  height: 2px;
  flex-grow: 1;
  align-self: center;
  background-color: $features-item-bg;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//Label
.form__label-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 0;
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      width: 74.7%;
      height: 142px;
      margin-bottom: 54px;
      flex-grow: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }
}

.form__label {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &--radio {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: -10px;
    }

    @media (min-width: $tablet-width) {
      height: auto;
      margin-bottom: 25px;
    }
  }

  &--checkbox {
    height: 38px;
    width: 50%;

    &:last-child {
      margin-bottom: -10px;
    }

    @media (min-width: $tablet-width) {
      height: 52px;

      &:nth-child(odd) {
        padding-right: 2%;
      }

      &:nth-child(even) {
        width: 48%;
      }
    }

    @media (min-width: $desktop-width) {
      width: 28%;

      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        width: 28%;
      }
    }
  }

  // &--info {
  //   margin: 0;
  //   margin-top: 22px;
  //   padding: 0;
  //   font-weight: bold;
  //   font-size: 17px;
  //   line-height: 18px;

  //   @media (max-width: $mobile-only-width) {
  //     &:first-of-type {
  //       margin-top: 4px;
  //     }
  //   }

  //   @media (min-width: $tablet-width) {
  //     margin-top: 0;
  //     padding-right: 23px;
  //     height: 58px;
  //     font-size: 19px;
  //     line-height: 18px;
  //   }
  // }
}

.form__label-info {
  position: relative;
  margin-top: -10px;
  margin-bottom: 33px;

  .form__label {
    margin-bottom: 0;

    @media (min-width: $mobile-width) {
      padding-right: 24px;
    }
  }

  .form__input {
    height: 52px;
  }

  @media (min-width: $mobile-width) {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    height: 52px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    height: 52px;
    width: 75.6%;
    margin-bottom: 34px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form__icon {
  position: relative;
  height: 42px;
  padding-left: 61px;
  padding-right: 10%;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-left: 78px;
    height: 52px;
    font-size: 19px;
  }

  &--radio {
    &::before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      width: 40px;
      height: 40px;
      border: 2px solid $good-text-color;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        left: 0;
        top: -8px;
        width: 50px;
        height: 49px;
      }
    }

    // @media (min-width: $tablet-width) {
    //   padding-right: 0;
    // }

    // @media (min-width: $desktop-width) {
    //   height: 52px;
    // }

    &:hover {
      &::before {
        border: 2px solid $email-link-border;
        transition: border 0.6s;
      }
    }

    &:active {
      &::before {
        border: 2px solid $textarea-color;
        transition: border 0.6s;
      }
    }
  }

  &--checkbox {
    height: 38px;

    // @media (min-width: $tablet-width) {
    //   height: 52px;
    // }

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      top: -13px;
      width: 34px;
      height: 34px;
      border: 2px solid $good-text-color;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        left: -2px;
        top: -13px;
        width: 48px;
        height: 49px;
      }
    }

    &:hover {
      &::before {
        border: 2px solid $email-link-border;
        transition: border 0.6s;
      }
    }

    &:active {
      &::before {
        border: 2px solid $textarea-color;
        transition: border 0.6s;
      }
    }
  }
}

.form__radio:checked + .form__icon--radio {
  &::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 4px;
    width: 12px;
    height: 12px;
    border: 2px solid #62d1ba;
    border-radius: 50%;
    background-color: #62d1ba;
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      left: 15px;
      top: 6px;
      width: 16px;
      height: 16px;
    }
  }

  &:hover {
    &::before {
      // background-image: url("../img/icon-radio-on-mobile-hover.svg");
    }
  }

  &:active {
    &::before {
      // background-image: url("../img/icon-radio-on-mobile-active.svg");
    }
  }
}

.form__checkbox:checked + .form__icon--checkbox {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-size: 23px 16px;

    @media (min-width: $tablet-width) {
      background-size: 30px 50px;
    }
  }

  &:hover {
    &::before {
      background-image: url("../img/icon-tick.svg");
      background-size: 23px 16px;

      @media (min-width: $tablet-width) {
        background-size: 30px 50px;
      }
    }
  }

  &:active {
    &::before {
      background-image: url("../img/icon-tick.svg");
      background-size: 23px 16px;

      @media (min-width: $tablet-width) {
        background-size: 30px 50px;
      }
    }
  }
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  border: 0;
  padding: 0;
  border-bottom: 2px solid $basic-text-color;
  font-size: 17px;
  line-height: 18px;
  color: $good-text-color;

  &:hover {
    border-bottom: 2px solid $email-link-border;
  }

  @media (min-width: $tablet-width) {
    width: 65%;
    flex-grow: 1;
    font-size: 19px;
    padding-left: 15px;
    height: 54px;
  }

  &::placeholder {
    color: $input-color;
  }

  &--radio {
    width: 75%;
  }
}

.form__input:hover + .form__tel-icon,
.form__input:hover + .form__email-icon {
  fill: $email-link-border;
}

.form__tel-icon {
  position: absolute;
  top: 12px;
  right: 7px;
  z-index: 2;
  fill: $input-color;

  @media (min-width: $tablet-width) {
    top: 12px;
    right: 27px;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    right: 9px;
  }
}

.form__email-icon {
  height: 30px;
  position: absolute;
  top: 8px;
  right: 3px;
  z-index: 2;
  fill: $input-color;

  @media (min-width: $tablet-width) {
    top: 5px;
    right: 4px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 17px;
  border: 2px solid $good-text-color;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    width: 81.1%;
    font-size: 19px;
  }

  &::placeholder {
    color: $textarea-color;
  }

  &:hover,
  &:active {
    border: 2px solid $email-link-border;
  }
}

.form__footer-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 13.5%;
  }
}

.form__attention {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $good-text-color;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-left: auto;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
