.form-cart {
  box-sizing: border-box;
  padding: 31px 30px 46px;
  width: 320px;
  border: 1px solid #c6c6c6;
  background-color: $features-color;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  @media (min-width: 768px) {
    width: 568px;
  }
}

.form-cart__title {
  margin: 0 auto 11px;
  max-width: 160px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $basic-text-color;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin: 0 0 15px;
    max-width: none;
    font-size: 30px;
    line-height: 57px;
  }
}

.form-cart__fieldset {
  margin: 0;
  padding: 23px 0;
  border: 0;

  @media (min-width: 768px) {
    margin-bottom: 9px;
    padding: 22px 78px;
  }
}

.form-cart__legend {
  padding: 0;
  width: 100%;
  line-height: 30px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.form-cart__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.form-cart__radio:checked + .form-cart__label {
  border-color: $features-item-bg;
  transition: border-color 0.6;
}

.form-cart__label {
  box-sizing: border-box;
  padding: 16px 10px 15px;
  width: 82px;
  border: 2px solid $modal-label-border;
  font-weight: 700;
  line-height: 17px;
  text-align: center;

  @media (min-width: 768px) {
    width: 112px;
  }
}
