.good {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 31px 30px 40px 30px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 6px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 50px;
    padding-bottom: 70px;
    grid-template-columns: 43.5% 50%;
    column-gap: 43px;

    &::after {
      height: 19px;
      background-size: 100% 19px;
      background-position-x: -1px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 94px;
    column-gap: 58px;
    grid-template-columns: 11.1% 28% 50%;
    width: 1050px;
    margin: 0 auto;

    &::after {
      left: 50px;
      height: 23px;
      background-size: 1050px 21px;
    }
  }
}

.good__title {
  position: relative;
  margin: 0;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    margin-top: 60px;
    margin-bottom: 36px;
    font-size: 53px;
    line-height: 57px;
  }
}

.good__hit {
  margin: 0;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $features-item-bg;

  @media (min-width: $tablet-width) {
    width: 33%;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: 5px;
    padding-top: 8px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;
    padding-top: 68px;
    padding-left: 47px;
    width: 60%;
  }
}

.good__text {
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 24px;
  color: $good-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-bottom: 26px;
  }
}

.good__list {
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 15px;
  color: $good-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-top: 20px;
  }
}

.good__info {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid $menu-bottom-color;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    height: auto;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 13px;
  }
}

.good__description {
  position: relative;
  width: 38%;

  @media (min-width: $tablet-width) {
    width: 33%;
  }

  @media (min-width: $desktop-width) {
    width: 34%;
  }
}

.good__details {
  position: relative;
  width: 62%;
  margin: 0;
}

.good__picture {
  @media (min-width: $tablet-width) {
    grid-row: 2/6;
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 6;
    grid-column: 3 / -1;
  }
}

.good__img {
  width: 100%;
  height: auto;
  display: block;
}

.good__price {
  margin: 27px 0 21px 0;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $good-text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-top: 29px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin-top: 85px;
  }
}
