.header {
  //Только для мобильной версии
  @media (max-width: $mobile-only-width) {
    position: relative;
    border-bottom: 1px solid $menu-bottom-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    height: 89px;
    padding: 0 50px;
    border-bottom: 1px solid $menu-bottom-color;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    border-bottom: none;
  }
}
