.logo {
  display: block;
  padding: 20px 0;

  //Только для мобильной версии
  @media (max-width: $mobile-only-width) {
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    width: 47.8%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    order: 1;
    flex-basis: 29.2%;
    height: 89px;
    text-align: center;
  }
}
