.logo {
  display: block;
  padding: 22px 0;

  //Only for mobile-width
  @media (max-width: $mobile-only-width) {
    align-self: center;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 48%;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    order: 1;
    flex-basis: 29.2%;
    height: 89px;
    text-align: center;
  }
}
