@media (max-width: $mobile-only-width) {
  .nav-button {
    position: absolute;
    right: 30px;
    top: 32px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .nav-button--hide {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav-button {
    display: none;
  }
}
