.nav {
  display: flex;
  flex-direction: column;

  //Только для мобильной версии
  @media (max-width: $mobile-only-width) {
    &--close .nav__button {
      .nav__button-close {
        display: none;
      }
    }

    &--close .nav__item {
      display: none;
    }

    &--open .nav__button {
      .nav__button-open {
        display: none;
      }
    }

    //Если js не загрузился скрываем бургер
    &--nojs .nav__button {
      display: none;
    }

    //Если js не загрузился открываем меню
    &--nojs .nav__item--menu {
      display: flex;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.nav__button {
  @media (max-width: $mobile-only-width) {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  //Отключаем кнопку открытия меню в не мобильной версии
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__main {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    width: 38%;
    height: 89px;
    z-index: 2;
  }
}

.nav__user {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    order: 0;
    width: 51.7%;
  }

  @media (min-width: $desktop-width) {
    width: 33.3%;
    order: 2;
    height: 89px;
  }
}

.nav__item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  min-height: 79px;
  padding: 0 30px;
  align-items: center;

  //Только для мобильной версии
  @media (max-width: $mobile-only-width) {
    border-bottom: 1px solid $menu-bottom-color;

    &--catalog {
      border-top: 1px solid $menu-bottom-color;
    }

    &--new {
      display: none;
    }

    &--sale {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 89px;

    &--find {
      width: 24.5%;
      justify-content: center;
      border-left: 1px solid $menu-bottom-color;
      border-right: 1px solid $menu-bottom-color;

      .nav__link--text {
        display: none;
      }
    }

    &--cart {
      width: 75.5%;
      justify-content: flex-end;

      .nav__link--text {
        padding-left: 24px;
      }
    }

    &--catalog {
      width: 50%;
      min-height: 65px;

      .nav__link {
        font-size: 15px;
        line-height: 24px;
      }
    }

    &--handmade {
      width: 50%;
      min-height: 65px;

      .nav__link {
        font-size: 15px;
        line-height: 24px;
      }
    }

    &--new {
      display: none;
    }

    &--sale {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 89px;

    &--catalog {
      width: 46%;
      border-right: 1px solid $menu-bottom-color;

      .nav__link {
        font-size: 17px;
      }
    }

    &--new {
      display: flex;
      flex-basis: 50%;
      min-height: 60px;

      .nav__link {
        font-size: 15px;
        line-height: 24px;
      }
    }

    &--sale {
      display: flex;
      flex-basis: 50%;
      min-height: 60px;

      .nav__link {
        padding-left: 9%;
        font-size: 15px;
        line-height: 24px;
      }
    }

    &--handmade {
      width: 48%;

      .nav__link {
        padding-left: 35px;
        font-size: 17px;
        line-height: 24px;
      }
    }

    &--find {
      width: 24%;
    }

    &--card {
      width: 76%;
    }
  }
}

.nav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-text-color;
  transition: opacity 0.6s;

  &--icon {
    opacity: 0.2;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  //Только для мобильной версии
  @media (max-width: $mobile-only-width) {
    padding-left: 17.4%;

    &--icon {
      position: absolute;
      top: 39%;
      left: 9.3%;
      width: 22px;
      height: 22px;
    }
  }
}

.nav__shares {
  margin: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $good-text-color;
  //Только для мобильной версии
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    order: 3;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    height: 60px;
  }
}
