.reviews {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 18px;
    padding-left: 52px;
    padding-top: 83px;
    padding-bottom: 22px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 49% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    background-image: url("../img/review@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 6.8% 50px 6% 15%;
    background-size: 32% 100%;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 74%;
    order: 0;
    margin-bottom: 38px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 80%;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: $good-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    order: 2;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.reviews__author {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  &-name {
    margin: 0;
    margin-bottom: 7px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &-social {
    display: block;
    font-weight: normal;
    text-decoration: none;
    color: $good-text-color;
  }

  @media (min-width: $tablet-width) {
    width: 74%;
    order: 3;
  }

  @media (min-width: $tablet-width) {
    width: 80%;
  }
}
