.social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}
