.social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  &:hover {
    path {
      fill: $mail-link-hover;
      transition: fill 0.6s;
    }
  }

  &:active {
    path {
      fill: $mail-link-hover;
      opacity: 0.3;
      transition: opacity 0.6s;
    }
  }
}
