.about {
  position: relative;
  padding: 31px 30px 45px 30px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    height: 6px;
    width: 100%;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.about__icon {
  margin-bottom: 17px;

  path {
    fill: $features-item-bg;
  }
}

.about__text {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
