.catalog-good {
  border: 1px solid $menu-bottom-color;
}

.catalog-good__wrapper {
  padding: 28px;
  padding-bottom: 26px;
}

.catalog-good__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.catalog-good__text {
  margin: 0;
  padding-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid $menu-bottom-color;
  color: $good-text-color;
}

.catalog-good__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.catalog-good__price {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.catalog-good__icon {
  opacity: 0.2;
}
