.controls {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 38px;
  border: 1px solid $menu-bottom-color;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: $menu-bottom-color;
  }
}

.controls__btn {
  padding: 13px 42px 13px 38px;

  &--next {
    padding: 13px 42px 13px 37px;
  }
}
