.good {
  position: relative;
  padding: 31px 30px 36px 30px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    height: 6px;
    width: 100%;
  }
}

.good__title {
  position: relative;
  margin: 0;
  margin-bottom: 41px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  &--hit::before {
    content: "Товар недели";
    position: absolute;
    top: 34px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $features-item-bg;
  }
}

.good__text {
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 24px;
  color: $good-text-color;
}

.good__list {
  margin: 0;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 20px;
  color: $good-text-color;
}

.good__description {
  position: relative;
  width: 38%;
  padding-top: 10px;
  padding-bottom: 12px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $menu-bottom-color;
  }
}

.good__details {
  position: relative;
  width: 62%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 12px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $menu-bottom-color;
  }
}

.good__img {
  margin-bottom: 26px;
}

.good__price {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $good-text-color;
}
