.main-header {
  width: 100%;
  min-height: 283px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $main-header-bgcolor;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
}

.main-header__title {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $main-header-color;
}
