.map {
  position: relative;
  min-height: 457px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 39px;
  background-color: $menu-bottom-color;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map__icon {
  position: absolute;
  top: 31%;
  left: 43%;
}
