//media-width
$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

//colors
$main-header-bgcolor: #f1f1f1;
$main-header-color: #010000;
$basic-text-color: #000000;
$good-text-color: #444444;
$features-color: #ffffff;
$features-item-bg: #63d1bb;
$features-item-secondary-bg: #56c3b2;
$features-icon-color: #149080;
$menu-bottom-color: #ececec;
$email-link-border: #62d1ba;
$footer-border-bg: #e5e5e5;
$input-color: rgba(0, 0, 0, 0.2);
$textarea-color: rgba(0, 0, 0, 0.3);
$left-feature-btn-hover: #59d5bc;
$right-feature-btn-hover: #46c1ae;
$btn-active-text: rgba(255, 255, 255, 0.3);
$mail-link-hover: #46c1ae;
$catalog-good-hover: rgba(0, 0, 0, 0.1);
